<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saude Mais</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/global.css}">
</head>
<body>
<div class="d-flex" id="wrapper">

    <header class="bg-primary border-right" id="sidebar-wrapper">
        <h2 class="sidebar-heading text-white">Saude Mais</h2>
        <navbar class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action bg-primary text-white">Início</a>
            <a href="#" class="list-group-item list-group-item-action bg-primary text-white">Aplicações</a>
            <a href="#" class="list-group-item list-group-item-action bg-primary text-white">Minha saúde</a>
            <a href="#" class="list-group-item list-group-item-action bg-primary text-white">Conteúdos</a>
            <a href="#" class="list-group-item list-group-item-action bg-primary text-white">Meu perfil</a>
        </navbar>
    </header>


    <div id="page-content-wrapper">
        <article th:fragment="content"></article>
    </div>

</div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script th:src="@{/js/global.js}"></script>
</body>
</html>
