<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR" th:fragment="layout">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/dashboard_layout.css}">
    <title th:fragment="title">Título Padrão</title>
</head>
<body>
<header th:fragment="header">
                        <a class="submenuOption" href="#">Dashboard3</a>
    <nav id="sidebar">

        <ul th:fragment="navList">
            <li id="mainItem">
                <a class="navOption icon" id="mainIcon" href="#">.</a>
            </li>



            <div id="navList" th:fragment="navListMain">
                <li class="navOption">
                    <a class="iconGroup" href="#">
                        <span id="homeIcon" class="icon">.</span>
                        <span class="textIcon">Home</span>
                    </a>
                </li>
            </div>
        </ul>
    </nav>
</header>

<main>
    <div id="topNav" class="topNav" th:fragment="topNav">
        <div id="burgerIcon" class="burgerIcon">
            ☰
        </div>
        <div>

        </div>
    </div>
</main>

<script th:src="@{/js/dashboardLayout.js}"></script>
</body>
</html>
