<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <title>Login</title>
</head>
<body>

<header>
    <nav th:replace="~{fragments/navbar_main.html :: navbar}"></nav>
</header>

<main>
    <div th:if="${param.success}"  class="floating-message success-message">
        <p th:text="'Registro bem-sucedido!'"></p>
    </div>

    <div th:if="${param.sessionExpired}" class="floating-message success-message">
        <p th:text="'Sessão Expirada!'"></p>
    </div>

    <div th:if="${param.logout}" class="floating-message success-message">
        <p th:text="'Saiu com sucesso!'"></p>
    </div>

    <div th:if="${param.error}" class="floating-message error-message">
        <p>Usuário ou senha inválidos, tente novamente.</p>
    </div>

    <h1>Login</h1>

    <form th:action="@{/login}" method="post">
        <p>
            <label>Usuário:</label>
            <input type="text" name="username" />
        </p>
        <p>
            <label>Senha:</label>
            <input type="password" name="password" />
        </p>

        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</main>


<script type="module" th:src="@{/js/login.js}"></script>
</body>
</html>
