<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <title>Login</title>
</head>
<body>



<main>
    <h1>Login</h1>

    <form th:action="@{/login}" method="post">
        <p>
            <label>Email:</label>
            <input type="email" name="username" />
        </p>
        <p>
            <label>Senha:</label>
            <input type="password" name="password" />
        </p>
        <div th:if="${param.error}">
            <p>Usuário ou senha inválidos, tente novamente.</p>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</main>


</body>
</html>
